<p>The <span class="code">echo</span> endpoint expects to be passed:
  <ol>
    <li>A <span class="code">first_name</span> <strong>and</strong> and <span class="code">family_name</span> parameter; <strong>or</strong>, </li>
    <li>A <span class="code">full_name</span> parameter</span> </li>
  </ol>
</p>
