<p>You provided a <span class="code">full_name</span>.</p>

<p>I don't need to glue a <span class="code">first_name</span> and a <span
  class="code">family_name</span> parameter together, so, instead, I'll just
wish you a very nice day.</p>

<h2>Hip-Hip Hooray for: <%= params[:full_name] -%></h2>
