<h1>Welcome to Awful Login</h1>

<p>Look at the URL bar. Do you see your parameters in the bar? If this were a real login page, someone could (obviously) see your private data. This is probably not what we want.</p>
