<h1>Welcome to Better Login</h1>

<p>As you can see, your parameters are <strong>not</strong> listed in the URL bar!</p>

<p>However, I, <strong>the server</strong> saw them! Yes I did! I can prove it because I know that your username was: <%= params[:username] -%>.</p>
