<!DOCTYPE html>
<html>
  <head>
    <title>SimpleSkillsServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Getting Started with Forms</h1>

    <p>Welcome! This is a home page for getting started with forms. You'll
    point your forms to this <em>server</em> resource.</p>

    <%= yield %>
  </body>
</html>
